@charset "UTF-8";

main {
    margin: 3%; 
    flex-wrap: wrap;
}


.tittle {
    text-align: center;
}

.tittle h1 {
    font-size: clamp(60px, 5vw, 100px);
    margin-bottom: 50px;
}

.tittle h6 {
    font-size: clamp(30px, 2vw, 50px);
}