@charset "UTF-8";

@font-face {
    font-family: 'WorkSans-Bold';
    src: url('fonts/work-sans/static/WorkSans-Bold.ttf');

}

@font-face {
    font-family:'Inter-Regular';
	src: url('fonts/inter/static/Inter-Regular.ttf')
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter-Regular';
}

body {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 100vw;
}

/* Formatação comum entre os elementos. */
header, nav, main, aside, footer {
	background: #ffffff;
	display: flex;
}

/* Seletores para formatação individual. */
header {
	height: 100px;
	flex: 1 1 100vw;
	box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.25);
	margin-bottom: 100px;
}

header #logo {
	display: flex;
	flex: 0 1 500px;
	justify-content: center;
	align-items: center;
	color: #000;
	font-family: 'WorkSans-Bold';
	font-size: clamp(15px, 5vw, 30px);
}

#openMenu, #closeMenu {
	border: none;
	background: none;
	font-size: 30px;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	cursor: pointer;
	display: none;
}

nav {
	justify-content: flex-end;
	align-items: center;
	flex: 1 1 200px;
}

nav a {
	margin: 0 3%;
	font-size: 20px;
}

main {
	height: calc(100vh - 224px);
	flex: 20 1 500px;
	background-color: #00000075;
}

aside {
	flex: 1 1 200px;
}

footer {
	height: 100px;
	flex: 1 1 100vw;
}

a {
	text-decoration: none;
	color: inherit;
}

#menu {
	margin-right: 30px;
}

#menu a {
	background: transparent;
	border: none;
	color: #000000;
	position: relative;
	transition: .5s ease;
  }
  
#menu a::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	height: 2px;
	width: 0;
	background-color: #000000;
	transition: .5s ease;
  }
  
#menu a:hover {
	transition-delay: .5s;
  }
  
#menu a:hover::before {
	width: 100%;
  }
  
#menu a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 0;
	width: 100%;
	transition: .4s ease;
  }

/* Altera o estilo dos elementos para serem apresentados */ 
/* em telas menores que 717px. */
@media only screen and (max-width: 1050px) {
	#openMenu, #closeMenu {
		display: block;
	}

	#openMenu {
		margin-left: auto;
		margin-right: 30px;
	}

	#closeMenu {
		position: fixed;
		right: 25px;
		top: 18px;
		font-size: 50px;
	}

	nav {
		position: fixed;
		width: 100vw;
		height: 100vh;
		background: rgba(255, 255, 255, 0.8);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		display: none;
		opacity: 0;
		transition: 0.3s;
	}

	nav a {
		margin: 3%;
	}

	main {
		height: calc(100vh - 330px);
	}

	aside {
		height: 100px;
	}
}